<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Over!</title>
</head>
<body>
    <h1>The gameover screen announces final score and shows leaderboard top 5 </h1>
    <p>You can restart the game or access leaderboard from here</p>

    <ul>
        <li>Game Over (text img in 8-bit</li>
        <li>Your score: X (label)</li>
        <li>a static (stopped clock)</li>
        <li>leader 1: name score timesplayed</li>
        <li>smaller: players name and score 2-10</li>
        <li>'view full leaderboard' button</li>
        <li>Play Again button</li>
    </ul>

    <img src="../assets/images/wireframing UI Design/gameover_screen.png" alt="">
</body>
</html>