<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style_game.css">
    <link rel="stylesheet" href="../assets/css/style_countdown.css">
    <title>Beat The Clock! Main Game Screen</title>
</head>

<body>
    <div class="quiz-page">
        <div class="box">
            <div class="container">
                <!-- titles to left -->
                <div class="gif_left">
                    <img src="https://media.giphy.com/media/rxiXrQftw8omGv6kAC/giphy.gif" width='150px' alt="">
                </div>
                <div class="inline-title">
                    <h1>BEAT THE CLOCK:</h1>
                    <p></p>
                    <h2>QUIZ UP!</h2>
                </div>
                <div class="gif_right">
                    <img src="../assets/images/gif/80s_clock.gif" width='150px' alt="">
                </div>
            </div>
        </div>
        <div class="box">
            <div class="container">
                <!-- questions structure -->
                <div class="questions-area">
                    <h3>Question: X</h3>
                    <!-- question gen here -->
                    <div class="question-box">
                        <!-- question here -->
                    </div>
                </div>
                <div class="countdown">
                    <div class="container-inline">
                        <!--  the clock timer box -->
                        <div class="cd_box">
                            <!--  this box will display digits only -->
                            <h2 id="seconds">60</h2>
                        </div>
                        <!-- label below to offer a text countdown + Times Up! -->
                        <!-- <h2 id="timer_update">Timer ends in: 60 seconds!</h2> -->
                    </div>
                </div>
            </div>
            <div class="option-buttons" id="optionBtn">
                <button class="optionA" id="a">optionA</button>
                <button class="optionB" id="b">optionB</button>
                <button class="optionC" id="c">optionC</button>
                <button class="optionD" id="d">optionD</button>
                <!-- restart timer button -->
                <button class="restart-btn" onclick="restartTimer()">Restart</button>
                <!-- quit to home -->
                <a href="../index.html">
                    <button class="quit-btn">Quit</button>
                </a>
            </div>
        </div>
    </div>
    <script src="../assets/scripts/countdown.js"></script>
    <script src="../assets/scripts/pseudo.js"></script>
</body>

</html>