<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
</head>
<body>
    <h1>leaderboard layout goes here</h1>
    <p>can access via main game AND gameover screen</p>
    <p>Can clear the scores too</p>
    <ul>
        <li>contains:</li>
        <li>clear button</li>
        <li>back button</li>
        <li>title- Hall Of Fame - LEADERBOARD</li>
        <li>subtitle: 'all time greatest players'</li>
        <li>a position number (No.1 is larger, in a diamond box</li>
        <li>a list of players 2-10, inc name and score</li>
        <li>set right: a 'times played' var counter</li>
    </ul>

    <div class="wrapper">
        <h1>Highscores</h1>
        <ol id="highscores"></ol>
  
        <a href="index.html"><button>Go Back</button></a>
        <button id="clear">Clear Highscores</button>
      </div>

    <img src="../assets/images/wireframing UI Design/leaderboard_w_clear_btn.png" alt="">
    <script src="./assets/js/scores.js"></script>
</body>
</html>