<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style_game.css">
    <title>Beat The Clock! Main Game Screen</title>
</head>
<body>
    <h1>The main game screen</h1>
    <p>Features:</p>
    <ul>
        <li>navbar with leaderboard, high scorer and timer</li>
        <li>A title/header</li>
        <li>an animated gif of a clock</li>
        <li>a start button</li>
        <li>the quiz section - box:</li>
        <li>quiz: the question NUMBER</li>
        <li>quiz: the question</li>
        <li>the 4 multiple choice buttons</li>
        <li>the current score</li>
        <li>a 'correct!' or 'wrong!' label</li>
        <li>a game footer - creator credits</li>
    </ul>

    <img src="../assets/images/wireframing UI Design/main_game_screen.png" alt="">
</body>
</html>