<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/leaderboard_test.css">
    <title>Leaderboard Testing</title>
</head>

<body>
    <h4>Leaderboard Testing</h4>
    <!-- define the board -->
    <div class="leaderboard">
        <!-- flex -->
        <div class="container">
            <!-- define elements -->
            <!-- buttons (clear board/clear array)  -->
            <button class="clear-btn">CLEAR</button>
            <!-- board titles - block -->
            <div class="leader-titles">
                <h1>LEADERBOARD</h1>
                <h2>The Hall of Fame!</h2>
            </div>
            <!-- + BACK to game -->
            <button class="back-btn">BACK</button>
        </div>
        <!-- define the leader-box -->
        <div class="leader-box">
            <div class="container">
                <div class="box">
                    <!-- box header -->
                    <h2>All Time <em><b>Greatest Players </b></em> 2023</h2>
                    <!--  the scoreboard TABLE -->
                    <div class="score-table">
                        <!-- a better way to make a scoreboard = table! -->
                        <!-- it LOOKS neater, but 1) supposed to use OL ? -->
                        <!-- and 2) how are you going to .sort/.pop these??
                        In the same way you'd access a list item?! -->
                        <!-- we could say you must beat 1 of top 5 to make the scoreboard - i like this -->
                        <table style="width:800px">
                            <!-- titles row -->
                            <tr class="board-array-titles">
                                <td>
                                    <p>POSITION</p>
                                </td>
                                <td>
                                    <p>PLAYER</p>
                                </td>
                                <td>
                                    <p>SCORE</p>
                                </td>
                                <td>
                                    <p>PLAYS</p>
                                </td>
                            </tr>
                            <!-- top player row -->
                            <tr class="topScore">
                                <!-- position 1 -->
                                <td class="p1">
                                    <p><b>#1</b></p>
                                </td>
                                <!-- name 1 -->
                                <td class="n1">
                                    <p><b></b></p>
                                </td>
                                <!-- score 1 -->
                                <td class="s1">
                                    <p><b></b></p>
                                </td>
                                <!-- runs 1 -->
                                <td class="r1">
                                    <p><b></b></p>
                                </td>
                            </tr>
                            <!-- player 2 row -->
                            <tr class="userScore">
                                <!-- position 2 -->
                                <td class="p2">
                                    <p>#2</p>
                                </td>
                                <!-- name 2 -->
                                <td class="n2">
                                    <p></p>
                                </td>
                                <!-- score 2 -->
                                <td class="s2">
                                    <p></p>
                                </td>
                                <!-- runs 2 -->
                                <td class="r2">
                                    <p></p>
                                </td>
                            </tr>
                            <!-- player 3 row -->
                            <tr class="userScore">
                                <!-- position 3 -->
                                <td class="p3">
                                    <p>#3</p>
                                </td>
                                <!-- name 3 -->
                                <td class="n3">
                                    <p></p>
                                </td>
                                <!-- score 3 -->
                                <td class="s3">
                                    <p></p>
                                </td>
                                <!-- runs 3 -->
                                <td class="r3">
                                    <p></p>
                                </td>
                            </tr>
                            <!-- player 4 row -->
                            <tr class="userScore">
                                <!-- position 4 -->
                                <td class="p4">
                                    <p>#4</p>
                                </td>
                                <!-- name 4 -->
                                <td class="n4">
                                    <p></p>
                                </td>
                                <!-- score 4 -->
                                <td class="s4">
                                    <p></p>
                                </td>
                                <!-- runs 4 -->
                                <td class="r4">
                                    <p></p>
                                </td>
                            </tr>
                            <!-- player 5 row -->
                            <tr class="userScore">
                                <!-- position 5 -->
                                <td class="p5">
                                    <p>#5</p>
                                </td>
                                <!-- name 5 -->
                                <td class="n5">
                                    <p></p>
                                </td>
                                <!-- score 5 -->
                                <td class="s5">
                                    <p></p>
                                </td>
                                <!-- runs 5 -->
                                <td class="r5">
                                    <p></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="test-area">
            <!-- test 'add point' button -->
            <button class="point-up" onclick="pointUp()">Point++ (DEBUG)</button>
            <label for="points" id="score-label">0</label>
        </div>
    </div>
    <script src="./assets/scripts/leaderboard.js"></script>
    <!-- <script src="./assets/scripts/tests/scoreboard.js"></script> -->
    <!-- <script src="./assets/scripts/tests/array_manipulation.js"></script> -->
    <!-- <script src="./assets/scripts/tests/sorting.js"></script> -->
</body>

</html>